body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 100%;
    overflow: hidden;
}

.controls {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

#gridSizeRange,
#colorPicker,
#resetCanvas {
    width: 100%;
    margin: 10px 0;
}

#gridCanvas {
    width: 100%;
    border: 1px solid #ddd;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
    height: 50vh;
}
